
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">AtomicSwap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">History <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>
    <div id="outerDiv">

    	<div *ngIf="!connected" class="connectOuter">
    	 <div class="connectSection">
    		<div class="connectField">
    		 	<input  type="test" class="form-control" placeholder="enter wif"  [(ngModel)]="userWif"  aria-describedby="basic-addon1">
    	 	 	 
    		</div>
    			<button *ngIf="!connecting" type="button" id="checkButton" class="btn btn-success" (click)="connect()">Connect</button>
    			 <img *ngIf="connecting" id="connectSpinner" src="../../assets/images/spinnerBlue.gif" ng-show="loading"   />
    	 </div>
    	<p class="userAddress">{{userAddress}}</p>
    	</div>
    
    <div *ngIf="connected">
    <div id="top">
 
    	 <div class="innerDiv">
    	<p class="smallTitle">Give</p>
    		<div class="selectButtons">
    	<div class = "btn-group" >
   
   <button type = "button" id="selectButton" class = "btn btn-success dropdown-toggle" data-toggle = "dropdown">
      {{getGiveChainName()}}
      <span class = "caret"></span>
   </button>
   
   <ul id="chainsList" class = "dropdown-menu" role = "menu">
    <li  class="list-group-item" *ngFor="let aChain of getChains()" (click)="selectGiveChain(aChain)">
    	{{aChain.list_name}}
    </li>
   </ul>


</div>
 
    	 <div class = "btn-group">
   
   <button type = "button" id="selectButton" class = "btn btn-success dropdown-toggle" data-toggle = "dropdown">
      {{getGiveTokenName()}}
      <span class = "caret"></span>
   </button>
   
   <ul id="chainsList" class = "dropdown-menu" role = "menu">
    <li  class="list-group-item" *ngFor="let aToken of getTokensGive()" (click)="selectGiveToken(aToken)">
    	{{aToken.name}}
    </li>
   </ul>

   </div>
</div>

    	  <input  id="amountField" type="number" class="form-control" placeholder="amount"   (input)="setGiveAmount($event.target.value)"  aria-describedby="basic-addon1">

    	   </div>
    	    <div class="innerDiv">
     	<p class="smallTitle">Get</p>

     	<div class="selectButtons">
    	<div class = "btn-group">
   
   <button type = "button" id="selectButton" class = "btn btn-success dropdown-toggle" data-toggle = "dropdown">
       {{getGetChainName()}}
      <span class = "caret"></span>
   </button>
   
   <ul id="chainsList" class = "dropdown-menu" role = "menu">
    <li  class="list-group-item" *ngFor="let aChain of getChains()"  (click)="selectGetChain(aChain)">
    	{{aChain.list_name}}
    </li>
   </ul>

   
</div>
 
    	<div class = "btn-group">
   
   <button type = "button" id="selectButton" class = "btn btn-success dropdown-toggle" data-toggle = "dropdown">
     {{getGetTokenName()}}
      <span class = "caret"></span>
   </button>
   
   <ul id="chainsList" class = "dropdown-menu" role = "menu">
    <li  class="list-group-item" *ngFor="let aToken of getTokensGet()" (click)="selectGetToken(aToken)">
    	{{aToken.name}}
    </li>
   </ul>

  </div> 
</div>

    	    <input id="amountField" type="number" class="form-control" placeholder="amount"    (input)="setGetAmount($event.target.value)" aria-describedby="basic-addon1">
    	   </div>



    	   
    </div>
    
      <button *ngIf="!loading" type="button" id="checkButton" class="btn btn-success" (click)="advertiseSwap()">Place Swap</button>
      <img *ngIf="loading" id="mySpinner" src="../../assets/images/spinnerBlue.gif" ng-show="loading"   />
 <div id="online">

 	<p class="ordersTitle">Current Swaps</p>

    	   <ul id="peersList" class="list-group">
     	<li  class="list-group-item" *ngFor="let aSwapId of getCurrentSwapKeys()">
     
      	
      	 <p class="swapDetails"> Give {{(currentSwaps[aSwapId].give_amount / 100000000)}} {{currentSwaps[aSwapId].give_token }} get {{(currentSwaps[aSwapId].get_amount / 100000000)}} {{currentSwaps[aSwapId].get_token}}</p>
      
          <p class="swapStatus"> {{getStatus(currentSwaps[aSwapId].status)}} </p>
         
         <img *ngIf="showSwapSpinner(aSwapId)" id="statusSpinner" src="../../assets/images/spinnerBlue.gif" ng-show="loading"   />
         <button *ngIf="!showSwapSpinner(aSwapId)" type="button" id="deleteButton" class="btn btn-danger" (click)="removeSwap(aSwapId)"></button>
    
   </li>
</ul>
<div *ngIf="getCurrentSwapKeys().length == 0">
	no swaps
	</div>
<p  class="ordersTitle">Orders</p>

    	   <ul id="peersList" class="list-group" >

     	<li  class="list-group-item" *ngFor="let aSwap of getOnlineSwaps()">
      <div style="display: inline;">
      	
       <p class="swapDetails">Give {{(aSwap.swapData.give_amount / 100000000)}} {{aSwap.swapData.give_token}} get {{(aSwap.swapData.get_amount / 100000000)}} {{aSwap.swapData.get_token}}</p> 
          <p class="swapStatus"> {{aSwap.address}} </p>
         
      </div>
   </li>
</ul>
<div *ngIf="getOnlineSwaps().length == 0">
	no swaps
	</div>

    </div>
    </div>
</div>
 